div

    label Email adress
    b-form-input(v-model="email", placeholder= "Enter an email adress")

    label Login
    b-form-input(v-model="log", placeholder= "Choose a login")

    label Password
    b-form-input(v-model="MDP", placeholder= "Choose a password")

    b-btn submit