b-container(fluid)#test
    .row
        b-avatar(variant="dark" size = "8em").col-md-1.ml-auto.mr-auto
    router-link(to="/login")
        b-button(variant="primary") Login
    router-link(to="/CreateAccount").ml-4
       b-button(variant="primary") New ? Create An Account
    router-view#content-viewer