b-container(fluid)#test

    .row
        b-avatar(variant="dark" size = "8em", class = "col-md-1 ml-auto mr-auto")

    router-link(to="/login")
        b-button login





    router-link(to="/CreateAccount")
       b-button New ? Create An Account
    router-view