div

    label Login
    b-form-input(v-model="login", placeholder= "Enter your login")

    label Password
    b-form-input(v-model="passw", placeholder= "Enter your password")

    b-button Connect

    b-button Back to Menu