b-row(align-v="center")
    b-col
    b-col
        b-form(@submit="login")#log

            label.centerd.mt-4 Login
            b-form-input(v-model="username" placeholder= "Enter your login").centerd

            label.centerd.mt-4 Password
            b-form-input(v-model="pwd" placeholder= "Enter your password").centerd

            b-button(type="submit").mt-4.centerbutton Connect

        router-link(to="/")
            b-button.centerbutton Back to Menu

    b-col